<!DOCTYPE html>
<html lang='en' ng-app='animalShelter'>
    <head>
        <meta charset="UTF-8">
        <title>Connor and Reid's Animal Shelter</title>
        <script src="lib/angular.js"></script>
        <script src="controllers/app.js"></script>
        <script src="controllers/AnimalController.js"></script>
        <script src="services/ShelterFactory.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div ng-controller="AnimalsCtrl">
                <div class="row">
                    <div class="col-md-4">
                        <h2>New Animal</h2>
                        <form ng-submit="addAnimal()" class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" ng-model="animalName" class="form-control" placeholder="Enter name" required>
                                <select ng-model="animalType" class="form-control" ng-options="opt as opt for opt in typeOptions">
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2>Animal List</h2>
                        <ul>
                            <li ng-repeat="item in animals">{{ item.name }} , {{ item.type }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<!-- <script src="controllers/AdoptionController.js"></script> -->
